.parallax {
    /* The image used */
    background-image: url("media/background1.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.caption span.border {
  color: #fff;
  /*font-size: 50px;*/

}
/* Changes font size depending on screen resolution*/
/*html { font-size: 50%; }
body { font-size: 1em;}*/

@media (min-width: 200px) {
    .fontsize { font-size: 200%; }
}

@media (min-width: 300px) {
    .fontsize { font-size: 250%; }
}

@media (min-width: 500px) {
    .fontsize { font-size: 250%; }
}

@media (min-width: 700px) {
    .fontsize { font-size: 250%; }
}

@media (min-width: 1200px) {
    .fontsize { font-size: 250%;}
}
